<template name="chunk">
  I am a single chunks page! 
  start_date: {{start_date}}
  end_date: {{end_date}}
  
  <div id="expenses">
    {{#each expenses}}
      {{>expense_item}}      
    {{/each}}
  </div>
  <!-- THIS IS WHERE ALL THE DEBTS WILL BE DISPLAYED -->
  <div id = "debts">
    {{#each debts}}
      {{>debt_item}}
    {{/each}}
  </div>

</template>

<template name="debt_item">
 {{from}} -->> {{amount}} --> {{to}}
</template>

<template name="expense_item">
{{description}} -->> {{amount}} --> {{payer}} --> {{participant_names}}
</template>
