<template name="home">
  I am the home page content!
  <div>
    <form id="new-chunk">
      <!-- THIS WILL BE THE FORM FOR CREATING A NEW CHUNK -->
    </form>
  </div>

  <div>
    These are all the banners associated with all the chunks
    {{#each chunks}}
      {{>chunk_banner}}
    {{/each}}
  </div>
</template>

<template name="chunk_banner">
 this is a single chunk banner
 start_date: {{start_date}}
 end_date: {{end_date}}
 debts: {{debts}}
 items: {{items}}
</template>
